.Main {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
}

.Card {
    padding: 50px;
}

.Link {
    font-weight: 900;
    cursor: pointer;
}

.H1 {
    padding: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 750;
}

@media (max-width: 600px) {
    .Main {
        display: flex;
        flex-direction: column;
    }
}